<div style="padding: 13px;">
    <div class="button-panel">
        <div [hidden]="!isReadOnly">
            <button mat-button (click)="refresh()"> <mat-icon mat-list-icon>refresh</mat-icon> Refresh</button>
            <button mat-button (click)="toggle_edit()"> <mat-icon mat-list-icon>edit</mat-icon> Edit</button>
        </div>
        <div [hidden]="isReadOnly">
            <button mat-button (click)="add()"> <mat-icon mat-list-icon>add</mat-icon> Add</button>
            <button mat-button (click)="save()"> <mat-icon mat-list-icon>save</mat-icon> Save</button>
            <button mat-button (click)="cancel()"> <mat-icon mat-list-icon>cancel</mat-icon> Cancel</button>
        </div>
    </div>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class= "guidance" *ngIf="layout.length === 0">
        <h2>Add RSS Feed to Dashboard by clicking on Edit and then Add.</h2>
    </div>
    <div cdkDropList class="feed-list" (cdkDropListDropped)="drop($event)">
        <div class="feed-box" *ngFor="let card of layout"
                cdkDrag [cdkDragDisabled]="isReadOnly"
                [ngStyle]="{'cursor': isReadOnly ? 'auto' : 'move',
                    'resize': isReadOnly ? 'none' : 'both'}">
            
            <mat-card [style.width.px]="card.width">
                <div class="card-actions" [hidden]="isReadOnly">
                        <mat-icon mat-list-icon (click)="toggle(card)">settings</mat-icon>
                        <mat-icon mat-list-icon (click)="delete(card.id)">delete</mat-icon>
                </div>
                <div [hidden]="card.hidden">
                    <app-weather *ngIf="(card.type==='weather'); else elseBlock" [url]="card.url"  [height]="card.height"></app-weather>
                    <ng-template #elseBlock><app-feed-content [url]="card.url"  [height]="card.height"></app-feed-content></ng-template>
                </div>
                <div class="settings" [hidden]="!card.hidden" [style.height.px]="card.height">
                    <app-settings [card]="card"></app-settings>
                </div>
            </mat-card>
        </div>
    </div>
</div>

