<mat-form-field hintLabel="RSS Feed Url" appearance="outline">
    <mat-label>Url</mat-label>
    <input matInput #input
            placeholder="Url"
            required
            [(ngModel)]="card.url"
            (focusout)="load_feed($event)"
            name="url">
    <mat-hint align="end">With http://</mat-hint>
    <input type="hidden" [(ngModel)]="card.type" name="type"/>
</mat-form-field>
<mat-form-field>
    <mat-label>Width</mat-label>
    <mat-select [(ngModel)]="card.width" name="width">
    <mat-option value="300">Small</mat-option>
    <mat-option value="600">Medium</mat-option>
    <mat-option value="900">Large</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field hintLabel="Max 10 characters">
    <mat-label>Height</mat-label>
    <input matInput #input maxlength="10" placeholder="Height" [(ngModel)]="card.height" name="height">
</mat-form-field>